/* styles.css */
html {
    background-image: url('5137.jpg'); /* Replace 'background.jpg' with your image file path or URL */
    background-size: cover;
    background-position: center;
    height: 100%;
    padding: 10%
}


header {
    background-color: white;
    text-align: center;
    padding: 0;
    font-family: 'Arial Black','Arial Narrow Bold', sans-serif;
    font-size: large;
    
}

h1 {

    color: #333;
}

body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
     /* Align items vertically */
}

.container {
    max-width: 400px;
    padding: 30px;
    background-color: #a6f5a6;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    text-align: center; /* Center content inside container */
}

label {
    display: block;
    margin-bottom: 1px;
    color: #333;
    font-family: Verdana;
    
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    margin-right: 25%;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    background-color: rgb(231, 243, 235);
    color: rgb(54, 134, 47);
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-left: auto;
    font-family: Verdana;
}

input[type="submit"]:hover {
    background-color: #a6aca6;
}
